<%= simple_form_for @book, html: { multipart: true } do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="field">
    <div class="control">
      <%= f.input :title , required: true, input_html: {class: "input"}, wrapper: false, label_html: {class: "label"} %>
    </div>
  </div>
  <br/>

  <div class="columns">

    <div class="field column is-7">
      <div class="control">
        <%= f.input :author , required: true, input_html: {class: "input"}, wrapper: false, label_html: {class: "label"} %>
      </div>
    </div>

    <div class="field column">
      <div class="control">
        <%= f.input :publisher  , required: true, input_html: {class: "input"}, wrapper: false, label_html: {class: "label"} %>
      </div>
    </div>

  </div>

  <div class="columns">

    <div class="field column is-7">
      <div class="control">
        <%= f.input :date_published , as: :date, start_year: Date.today.year - 90, end_year: Date.today.year - 12,
                    order: [:month, :day, :year],  wrapper: false, label_html: {class: "label"}  %>
      </div>
    </div>

    <div class="field column">
      <div class="control">
        <%= f.input :price , required: true, input_html: {class: "input"}, wrapper: false, label_html: {class: "label"} %>
      </div>
    </div>

  </div>

  <div class="field">
    <div class="control">
        <%= f.input :description , required: true, input_html: {class: "textarea rows=10"}, wrapper: false, label_html: {class: "label"} %>
    </div>
  </div>
  <br/>

  <div class="columns">
    <div class="column is-5">
      <div class="control">
        <label class="label">.* Add an Image</label>
        <div class="file">
          <label class="file-label">
            <%= f.input :image, required: true, as: :file, input_html:{ class:"file-input book-image"}, label: false, wrapper: false %>
            <span class="file-cta">
          <span class="file-icon"><i class="fa fa-upload"></i></span>
          <span class="file-label">Upload</span>
        </span>
          </label>
        </div>
      </div>
    </div>
    <div class="field column">
      <div class="control">
        <label class="label">.*Condition</label>
        <div class="control has-icon-left">
          <span class="select">
            <%= f.input_field :condition, required: true, collection: Book::CONDITION, prompt: "Select condition" %>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
